In [2]:
import pandas as pd
import numpy as np
import datetime

In [62]:
def date_range(start, end):
    r = (end+datetime.timedelta(days=1)-start).days
    return [start+datetime.timedelta(days=i) for i in range(r)]

start = datetime.date(2019,1,1)
end = datetime.date(2020,4,8)
dateList = date_range(start, end)

dateList
dateList_new = ", ".join([str(date) for date in dateList])
date = []
date = list(dateList_new.split())

df_date = pd.DataFrame({'col':date})
df_date

             col
0    2019-01-01,
1    2019-01-02,
2    2019-01-03,
3    2019-01-04,
4    2019-01-05,
..           ...
459  2020-04-04,
460  2020-04-05,
461  2020-04-06,
462  2020-04-07,
463   2020-04-08

[464 rows x 1 columns]

In [64]:
# creating a table with all dates for the given range to time, such that we can do a left
df_date["date"]=df_date["col"].str.replace(",","")
df_date["date"]= pd.to_datetime(df_date["col"])
df_date

             col       date
0    2019-01-01, 2019-01-01
1    2019-01-02, 2019-01-02
2    2019-01-03, 2019-01-03
3    2019-01-04, 2019-01-04
4    2019-01-05, 2019-01-05
..           ...        ...
459  2020-04-04, 2020-04-04
460  2020-04-05, 2020-04-05
461  2020-04-06, 2020-04-06
462  2020-04-07, 2020-04-07
463   2020-04-08 2020-04-08

[464 rows x 2 columns]

In [156]:
def combine_df (df1, df2):
    df2["date"]=pd.to_datetime(df2["date"])
    df_new = df1.merge(right = df2,
                      how = "left",
                      on = "date")
    return df_new

In [203]:
#CAC_40
df_CAC = pd.read_csv("CAC_40_FR_clean.csv")

#DAX_30
df_DAX = pd.read_csv("DAX_30_DE_clean.csv")

#DOW_JONES
df_DJ = pd.read_csv("DOW_JONES_US_clean").drop(columns="Unnamed: 0")

#FTSE_MIB
df_FTSE = pd.read_csv("FTSE_MIB_IT_clean")
columns = ["date","FTSE_IT_value"]
df_FTSE.columns = columns

#IBEX
df_IBEX = pd.read_csv("IBEX_35_SP_clean.csv").drop(columns="Unnamed: 0")
columns = ["date","IBEX_value"]
df_IBEX.columns = columns

# NASDAQ_clean
df_NASDAQ = pd.read_csv("NASDAQ_clean").drop(columns="Unnamed: 0")

#NIKKEI
df_NIKKEI = pd.read_csv("NIKKEI_225_JP_clean.csv")

#SP_500
df_SP = pd.read_csv("S&P_500_US_clean.csv")

#SSE
df_SSE = pd.read_csv("SSE_CN_clean.csv").drop(columns="Unnamed: 0")
columns=["date","SSE_value"]
df_SSE.columns = columns

In [212]:
#def combine_df_test (df1, df2):
#    df_new = df1
#    for index in df2:
#        index["date"]=pd.to_datetime(index["date"])
#        df_new = df_new.merge(right = index,
#                          how = "left",
#                          on = "date")
#    return df_new
#
#list_of_index = [df_CAC, df_DAX, df_DJ, df_FTSE, df_IBEX, df_NASDAQ, df_NIKKEI, df_SP,df_SSE]
#combine_df_test(df_date, list_of_index)

In [ ]:
list_of_index = [df_CAC, df_DAX, df_DJ, df_FTSE, df_IBEX, df_NASDAQ, df_NIKKEI, df_SP,df_SSE]
df_new = df_date
for index in list_of_index:
    df_new = combine_df(df_new, index)

In [ ]:
df_new.to_pickle("combined_financial_data")

In [167]:
# Adding_df_CAC
df_new = combine_df(df_date,df_CAC)

In [168]:
# Adding_df_DAX
df_new_1 = combine_df(df_new,df_DAX)

In [143]:
# Adding_df_DJ
df_new_2 = combine_df(df_new_1, df_DJ)

In [172]:
# Adding_df_FTSE
df_new_3 = combine_df(df_new_2, df_FTSE)

In [176]:
# Adding_df_IBEX
df_new_4 = combine_df(df_new_3, df_IBEX)

In [177]:
# Adding_df_NASDAQ

In [181]:
df_new_5 = combine_df(df_new_4, df_NASDAQ)

In [184]:
# Adding_df_NIKKEI
df_new_6 = combine_df(df_new_5, df_NIKKEI)

In [198]:
# Adding_df_SP_500
df_new_7 = combine_df(df_new_6, df_SP)

In [206]:
# Adding_df_SSE
df_new_8 = combine_df(df_new_7, df_SSE)

In [208]:
df_financial_index = df_new_8.copy()