In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("/Users/jsialell/Data_Thief_Project_Team_Wall-e/data/IBEX_35_SP.csv")
df["Date"]=pd.to_datetime(df["Date"])
df.drop(columns=["Open","Vol.","Change %"])
df.head()

        Date     Price      Open      High       Low     Vol. Change %
0 2020-04-08  6,897.00  6,923.00  6,955.00  6,860.00        -   -1.50%
1 2020-04-07  7,002.00  6,986.90  7,119.10  6,903.60  260.86M    2.30%
2 2020-04-06  6,844.30  6,807.90  6,874.90  6,728.60  225.97M    3.99%
3 2020-04-03  6,581.60  6,563.60  6,632.50  6,509.40  215.39M    0.11%
4 2020-04-02  6,574.10  6,633.70  6,658.90  6,424.50  233.31M   -0.08%

In [3]:
df["High"]=df["High"].str.replace(",","").astype("float")

In [4]:
df["Low"]=df["Low"].str.replace(",","").astype("float")

In [5]:
df["ibex_35_value"]=df["Price"].str.replace(",","").astype("float")

In [10]:
df.dtypes

        Date  ibex_35_value
0 2020-04-07         7002.0
1 2020-04-06         6844.3
2 2020-04-03         6581.6
3 2020-04-02         6574.1
4 2020-04-01         6579.4

In [9]:
df = (df
       .loc[(df["Date"]>="2019-01-01")&(df["Date"]<"2020-04-08"),:]
       .sort_values("Date", ascending=False)
       .reset_index()
       .drop(columns="index")
        )[["Date","ibex_35_value"]]

In [12]:
df

          Date  ibex_35_value
0   2020-04-07         7002.0
1   2020-04-06         6844.3
2   2020-04-03         6581.6
3   2020-04-02         6574.1
4   2020-04-01         6579.4
..         ...            ...
319 2019-01-08         8847.3
320 2019-01-07         8776.3
321 2019-01-04         8737.8
322 2019-01-03         8523.3
323 2019-01-02         8550.0

[324 rows x 2 columns]

In [34]:
df.to_csv("NASDAQ_clean")