In [1]:
import pandas as pd
import numpy as np

In [2]:
df_pop = pd.read_csv("/Users/jsialell/Data_Thief_Project_Team_Wall-e/Julien/UNdata_Export_20200408_174545207.csv")

In [8]:
df_pop.head()
# ["Country or Area", "Value"]

  Country or Area  Year(s) Variant        Value
0     Afghanistan     2019  Medium    38041.754
1          Africa     2019  Medium  1308064.195
2         Albania     2019  Medium     2880.917
3         Algeria     2019  Medium    43053.054
4  American Samoa     2019  Medium       55.312