In [16]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import pickle
sns.set_style("whitegrid")

In [24]:
df_stockmarket_indexes = pd.read_pickle("/Users/jsialell/Data_Thief_Project_Team_Wall-e/data/final_financial_data_interpolated_abs_perc")
df_covid_19_daily = pd.read_pickle("/Users/jsialell/Data_Thief_Project_Team_Wall-e/data/covid_cases_daily.pkl")

In [27]:
df_stockmarket_indexes.head(10)

,date,CAC_40_FR,DAX_30_GR,DOW_JONES_US,FTSE_IT,IBEX_SP,NIKKEI_JP,S&P_500_US,SSE_CN,CAC_40_FR_x,DAX_30_GR_x,DOW_JONES_US_x,FTSE_IT_x,IBEX_SP_x,NIKKEI_JP_x,S&P_500_US_x,SSE_CN_x
371,2020-01-07,6012.350000,13226.830000,28583.68,23723.380000,9579.8,23575.72,3237.180000,3104.802002,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
372,2020-01-08,6031.000000,13320.180000,28745.09,23832.020000,9591.4,23204.76,3253.050000,3066.893066,1.003102,1.007058,1.005647,1.004579,1.001211,0.984265,1.004902,0.987790
373,2020-01-09,6042.550000,13495.060000,28956.90,24016.700000,9581.8,23739.87,3274.700000,3094.882080,1.005023,1.020279,1.013057,1.012364,1.000209,1.006963,1.011590,0.996805
374,2020-01-10,6037.110000,13483.310000,28823.77,24021.400000,9573.6,23850.57,3265.350000,3092.291016,1.004118,1.019391,1.008400,1.012562,0.999353,1.011658,1.008702,0.995970
375,2020-01-11,6036.786667,13472.713333,28851.53,23979.796667,9563.7,23894.22,3272.943333,3100.050700,1.004064,1.018590,1.009371,1.010809,0.998319,1.013510,1.011048,0.998470
376,2020-01-12,6036.463333,13462.116667,28879.29,23938.193333,9553.8,23937.87,3280.536667,3107.810384,1.004011,1.017789,1.010342,1.009055,0.997286,1.015361,1.013393,1.000969
377,2020-01-13,6036.140000,13451.520000,28907.05,23896.590000,9543.9,23981.52,3288.130000,3115.570068,1.003957,1.016987,1.011313,1.007301,0.996253,1.017213,1.015739,1.003468
378,2020-01-14,6040.890000,13456.490000,28939.67,23928.210000,9528.3,24025.17,3283.150000,3106.820068,1.004747,1.017363,1.012454,1.008634,0.994624,1.019064,1.014201,1.000650
379,2020-01-15,6032.610000,13432.300000,29030.22,23763.860000,9511.7,23916.58,3289.290000,3090.040039,1.003370,1.015534,1.015622,1.001706,0.992891,1.014458,1.016097,0.995245
380,2020-01-16,6039.030000,13429.430000,29297.64,23940.410000,9572.5,23933.13,3316.810000,3074.081055,1.004438,1.015317,1.024978,1.009148,0.999238,1.015160,1.024599,0.990105

In [32]:
df_stockmarket_indexes.shape

(93, 17)

In [28]:
df_covid_19_daily.head(10)

        date  China  France  Germany  Italy  Japan  Spain  US
0 2020-01-22    548       0        0      0      2      0   1
1 2020-01-23     95       0        0      0      0      0   0
2 2020-01-24    277       2        0      0      0      0   1
3 2020-01-25    486       1        0      0      0      0   0
4 2020-01-26    669       0        0      0      2      0   3
5 2020-01-27    802       0        1      0      0      0   0
6 2020-01-28   2632       1        3      0      3      0   0
7 2020-01-29    578       1        0      0      0      0   0
8 2020-01-30   2054       0        0      0      4      0   0
9 2020-01-31   1661       0        1      2      4      0   2

In [33]:
df_covid_19_daily.shape

(77, 8)

In [29]:
df_stock_market_covid_19 = df_stockmarket_indexes.merge(right=df_covid_19_daily,
                                                       how="left",
                                                       on="date")

In [31]:
df_stock_market_covid_19

,date,CAC_40_FR,DAX_30_GR,DOW_JONES_US,FTSE_IT,IBEX_SP,NIKKEI_JP,S&P_500_US,SSE_CN,CAC_40_FR_x,...,NIKKEI_JP_x,S&P_500_US_x,SSE_CN_x,China,France,Germany,Italy,Japan,Spain,US
0,2020-01-07,6012.350000,13226.830000,28583.680000,23723.380000,9579.800000,23575.720000,3237.180000,3104.802002,1.000000,...,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-08,6031.000000,13320.180000,28745.090000,23832.020000,9591.400000,23204.760000,3253.050000,3066.893066,1.003102,...,0.984265,1.004902,0.987790,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-09,6042.550000,13495.060000,28956.900000,24016.700000,9581.800000,23739.870000,3274.700000,3094.882080,1.005023,...,1.006963,1.011590,0.996805,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-10,6037.110000,13483.310000,28823.770000,24021.400000,9573.600000,23850.570000,3265.350000,3092.291016,1.004118,...,1.011658,1.008702,0.995970,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-11,6036.786667,13472.713333,28851.530000,23979.796667,9563.700000,23894.220000,3272.943333,3100.050700,1.004064,...,1.013510,1.011048,0.998470,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,2020-04-04,4218.433333,9708.903333,21595.016667,16602.670000,6669.166667,18072.226667,2546.993333,2774.263379,0.701628,...,0.766561,0.786794,0.893540,32.0,25646.0,4933.0,4805.0,522.0,6969.0,33264.0
89,2020-04-05,4282.286667,9892.036667,22137.503333,16820.990000,6756.733333,18324.263333,2605.336667,2784.539697,0.712248,...,0.777251,0.804817,0.896849,59.0,2925.0,4031.0,4316.0,0.0,5478.0,28222.0
90,2020-04-06,4346.140000,10075.170000,22679.990000,17039.310000,6844.300000,18576.300000,2663.680000,2794.816016,0.722869,...,0.787942,0.822840,0.900159,63.0,5190.0,3251.0,3599.0,515.0,5029.0,29595.0
91,2020-04-07,4438.270000,10356.700000,22653.860000,17411.720000,7002.000000,18950.180000,2659.410000,2805.092334,0.738192,...,0.803801,0.821521,0.903469,53.0,11102.0,4289.0,3039.0,252.0,5267.0,29556.0
92,2020-04-08,4438.270000,10356.700000,22653.860000,17411.720000,7002.000000,18950.180000,2659.410000,2815.368652,0.738192,...,0.803801,0.821521,0.906779,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df_stock_market_covid_19.shape

(93, 24)

In [35]:
df_stock_market_covid_19.to_pickle("/Users/jsialell/Data_Thief_Project_Team_Wall-e/data/Stock_Market_Index_Covid-19_daily.pkl")