In [1]:
import pandas as pd
import numpy as np

In [14]:
df_dow_jones = pd.read_csv("DOW_JONES_US_clean").drop(columns="Unnamed: 0")
df_dow_jones.head(5)

         date     value
0  2020-04-07  22653.86
1  2020-04-06  22679.99
2  2020-04-03  21052.53
3  2020-04-02  21413.44
4  2020-04-01  20943.51

In [15]:
df_nasdaq = pd.read_csv("NASDAQ_clean").drop(columns="Unnamed: 0")
df_nasdaq.head(5)

         date  NASDAQ_US_value
0  2020-04-03         9018.090
1  2020-04-02         9467.973
2  2020-03-31         7700.098
3  2020-03-30         7774.152
4  2020-03-27         7502.379

In [ ]:
df_dow_joines.mer